NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1\nNEXT_PUBLIC_APP_NAME=AgriSmartRwanda\nNEXT_PUBLIC_APP_ENV=development\nNEXTAUTH_SECRET=your-secret-key-for-nextauth\nNEXTAUTH_URL=http://localhost:3000